services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - user_data:/user_data
    environment:
      - N8N_RUNNERS_ENABLED=true
      - N8N_RESTRICT_FILE_ACCESS_TO=/user_data
    restart: unless-stopped

volumes:
  n8n_data:
  user_data:

