.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap as needed */
  align-items: stretch;
  gap: 20px; /* Adds both horizontal and vertical spacing between items */
}

.flex-child {
  flex: 4;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-1 {
  flex: 1;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-2 {
  flex: 2;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-3 {
  flex: 3;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-4 {
  flex: 4;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

@media (max-width: 600px) {
  .flex-child-1,
  .flex-child-2,
  .flex-child-3,
  .flex-child-4 {
    flex: 100%; /* Makes the child divs take up the full width on slim devices */
    margin-right: 0; /* Removes the right margin */
    min-width: 200px;
  }
}

.colorbox {
    min-width: 400px;
    width:30%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.colorbox div:first-child {
    padding: 5px 0 0 0;
    border-radius: inherit;
}
