.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap as needed */
  align-items: stretch;
  gap: 20px; /* Adds both horizontal and vertical spacing between items */
}

.flex-child {
  flex: 4;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-1 {
  flex: 1;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-2 {
  flex: 2;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-3 {
  flex: 3;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

.flex-child-4 {
  flex: 4;
  margin-right: 20px; /* Adds space between the columns */
  min-width: 200px;
}

@media (max-width: 600px) {
  .flex-child-1,
  .flex-child-2,
  .flex-child-3,
  .flex-child-4 {
    flex: 100%; /* Makes the child divs take up the full width on slim devices */
    margin-right: 0; /* Removes the right margin */
    min-width: 200px;
  }
}

.colorbox {
    min-width: 400px;
    width:30%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--color-text);
}
.colorbox__title {
    padding: 0.35rem 0.6rem;
    border-radius: 8px;
    margin-bottom: 0.6rem;
    font-weight: 600;
}
.head {
    font-size: x-large;
    font-weight: bold;
}
.subhead {
    font-size: large;
    font-weight: bold;
}


/* Steps */
.colorbox--steps {
  background: rgb(var(--course-steps-bg-rgb));
}

.colorbox--steps > .colorbox__title {
  background: rgb(var(--course-steps-title-bg-rgb));
}

/* Hints */
.colorbox--hints {
  background: rgb(var(--course-hints-bg-rgb));
}

.colorbox--hints > .colorbox__title {
  background: rgb(var(--course-hints-title-bg-rgb));
}

:root {
  /* Steps box */
  --course-steps-bg-rgb: 232, 215, 26;
  --course-steps-title-bg-rgb: 232, 137, 26;

  /* Hints box */
  --course-hints-bg-rgb: 26, 194, 232;
  --course-hints-title-bg-rgb: 58, 146, 234;
}

:root.lia-variant-dark {
  /* Steps box */
  --course-steps-bg-rgb: 90, 82, 0;
  --course-steps-title-bg-rgb: 122, 63, 0;

  /* Hints box */
  --course-hints-bg-rgb: 0, 75, 87;
  --course-hints-title-bg-rgb: 13, 59, 122;
}
